---
---
{% include css/base.css %}
{% include css/skeleton.css %}
{% include css/main.css %}


table {
  border: 1px solid white;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  th, td {
    padding: 5px;
  }
}
