---
import {Icon} from "astro-icon/components";

const contents = [
    {
        icon: 'material-symbols:groups-outline-rounded:', title: 'title 1', description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.\n  1'
    },
    {
        icon: 'material-symbols:play-circle-outline-rounded:', title: 'title 2', description: 'Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.\n 2'
    },
    {
        icon: 'material-symbols:heart-plus-rounded:', title: 'title3', description: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. \n 3'
    },
]

---

<section class="bg-page py-20">
    <ul class="grid grid-cols-1 gap-4 container mx-auto max-w-6xl px-5 xl:px-0 space-y-10">
        {contents.map((item, index) => (
            <li
            class={`bg-gray-200 py-10 px-6 rounded-md shadow-md flex items-center space-x-8 flex-row h-[220px]`}
            >
                <Icon name={item.icon} class="size-[40px] sm:size-[80px]" />
                <div class={`block h-full w-0.5 bg-gray-400`} />
                <div class="flex-grow w-40 h-full flex flex-col ">
                    <h2 class="text-2xl font-bold mb-4">{item.title}</h2>
                    <p>{item.description}</p>
                </div>
            </li>
        ))}
    </ul>
</section>

