---
import astro from 'src/assets/astro.svg';
import {MajesticonsOpen} from "../../assets/icons/Icons";
import React from "react";

const footerData: {title: string, links: string[]}[] = [
        {
            title: 'Quick Links',
            links: ['About Conference', 'Our Speakers', 'Event Schedule', 'Event Photo Gallery'],
        },
    ]
---

<footer class="p-container">
        <div class="border-t border-t-gray-400 container mx-auto max-w-6xl flex justify-between py-xl">
            <div
                class="object-cover w-42 bg-no-repeat -translate-y-1"
                style={{ backgroundImage: `url(${astro.src})` }}
            />
            {footerData.map((item, index) => (
                    <div class="flex flex-col items-start space-y-4">
                        <h3 class="text-lg font-bold">{item.title}</h3>
                        {item.links.map(link => (<p class="text-sm mt-1 opacity-90">{link}</p>))}
                    </div>
            ))}
            <div class="flex flex-col items-start space-y-6">
                <h3 class="text-lg font-bold">Contact Us</h3>
                <button class="btn-primary">Send Message</button>
            </div>
        </div>
        <p class="text-gray-500 text-sm mt-6 text-center container mx-auto max-w-6xl">&copy; 2025 YourCompany. All Rights Reserved.</p>
    </footer>
