
---
import { Icon } from 'astro-icon/components';
import Button from '~/components/ui/Button.astro';

import type { CallToAction } from '~/types';
import Navigation from "../navbar/Navigation.astro";

interface Link {
    text?: string;
    href?: string;
    ariaLabel?: string;
    icon?: string;
}

interface MenuLink extends Link {
    links?: Array<MenuLink>;
}

export interface Props {
    id?: string;
    links?: Array<MenuLink>;
    actions?: Array<CallToAction>;
    isSticky?: boolean;
    isDark?: boolean;
    isFullWidth?: boolean;
    showToggleTheme?: boolean;
    showRssFeed?: boolean;
    position?: string;
}

const {
    id = 'header',
    links = [],
    actions = [],
    isSticky = false,
    isDark = false,
    isFullWidth = false,
    showToggleTheme = false,
    showRssFeed = false,
    position = 'center',
} = Astro.props;

---

<header
        class:list={[
            'z-40 fixed py-xs flex-none mx-auto w-full px-custom',
            'border-b border-gray-50/0 transition-all duration-500 ease-in-out',
            'h-20 text-light bg-transparent dark:bg-transparent'
        ]}
        id={id}
>
        <div class="container-custom py-2.5 ">
            <Navigation />
        </div>
</header>

<script type="module">
    // Function to handle scroll event and toggle the background
    const header = document.querySelector('header');
    const isHome = window.location.pathname === '/socrates-2025';

    if (isHome) {
        header.classList.add('bg-transparent');
        header.classList.add('dark:bg-transparent');
        header.classList.remove('bg-primary');
        header.classList.remove('dark:bg-contrast');
    } else {
        header.classList.add('bg-primary');
        header.classList.remove('bg-transparent');
        header.classList.remove('dark:bg-transparent');
    }

    window.addEventListener('scroll', () => {
        if (!isHome) return; // Exit early if not on home page

        const scrolledDown = window.scrollY > 200;
        header.classList.toggle('bg-primary', scrolledDown);
        header.classList.toggle('dark:bg-contrast', scrolledDown);
        header.classList.toggle('bg-transparent', !scrolledDown);
        header.classList.toggle('dark:bg-transparent', !scrolledDown);
    });
</script>
