
---
import { Icon } from 'astro-icon/components';
import Button from '~/components/ui/Button.astro';

import type { CallToAction } from '~/types';
import Navigation from "../navbar/Navigation.astro";

interface Link {
    text?: string;
    href?: string;
    ariaLabel?: string;
    icon?: string;
}

interface MenuLink extends Link {
    links?: Array<MenuLink>;
}

export interface Props {
    id?: string;
    links?: Array<MenuLink>;
    actions?: Array<CallToAction>;
    isSticky?: boolean;
    isDark?: boolean;
    isFullWidth?: boolean;
    showToggleTheme?: boolean;
    showRssFeed?: boolean;
    position?: string;
}

const {
    id = 'header',
    links = [],
    actions = [],
    isSticky = false,
    isDark = false,
    isFullWidth = false,
    showToggleTheme = false,
    showRssFeed = false,
    position = 'center',
} = Astro.props;

---

<header
        class:list={[
            { sticky: isSticky, relative: !isSticky, dark: isDark },
            'top-0 z-40 flex-none mx-auto w-full border-b border-gray-50/0 transition-[opacity] ease-in-out bg-transparent',
        ]}
        {...isSticky ? { 'data-aw-sticky-header': true } : {}}
        {...id ? { id } : {}}
>
    <div class="text-white logo-bg-svg">
        <div class="container mx-auto px-10 py-2.5 ">
                <Navigation />
                <slot name="hero" />
        </div>
    </div>
</header>
