---
import Carousel from './Carousel.tsx';
---

<section class="h-[500px] md:h-[700px] lg:h-[900px]">
    <!--class="relative md:-mt-[76px] not-prose bg-red-500" maybe useful for scrolling fade effect-->
    <Carousel client:load />
</section>