---
import Carousel from './Carousel.tsx';

const images = await Astro.glob("/src/assets/images/*").then(files => {
    return files.map(file => file.default);
});

import type { Hero as Props } from '~/types';
---

<section class="relative not-prose bg-red-500">
    <!--class="relative md:-mt-[76px] not-prose bg-red-500" maybe useful for scrolling fade effect-->
    <Carousel client:load images={images} />
</section>