---
import Carousel from './Carousel.tsx';
import { Picture } from 'astro:assets';
import canyon from '../../assets/images/canyon.jpg';
import fiori from '../../assets/images/fiori.jpg';
import foresta from '../../assets/images/foresta.jpg';

const heroImages = [
    { src: '../../assets/images/canyon.png', alt: 'Canyon' },
    { src: '../../assets/images/fiori.png', alt: 'Fiori' },
    { src: '../../assets/images/foresta.png', alt: 'Foresta' }
];

import type { Hero as Props } from '~/types';
---

<section class="relative md:-mt-[76px] not-prose bg-red-500">
    <Carousel images={heroImages} />
</section>