---
import { Picture } from 'astro:assets';
import canyon from '../../assets/images/canyon.jpg';
import fiori from '../../assets/images/fiori.jpg';
import foresta from '../../assets/images/foresta.jpg';

import type { Hero as Props } from '~/types';
---

<section class="relative md:-mt-[76px] not-prose bg-red-500">
    <Picture src={canyon} formats={['avif', 'webp']} alt="A description of my image." />
    <Picture src={fiori} formats={['avif', 'webp']} alt="A description of my image." />
    <Picture src={foresta} formats={['avif', 'webp']} alt="A description of my image." />
</section>