---
const quote = '"Shaping software through curiosity and connection."';
const paragraph1 = 'SoCraTes is an informal “unconference” where everyone helps shape the agenda. Each day starts with a Marketplace where participants pitch sessions and ideas.';
const paragraph2 = 'Everyone is encouraged to participate, whether by leading a session or joining discussions. The event promotes inclusivity and respect supported by a code of conduct.';
const paragraph3 = 'By actively participating in social experiences like playing games and joining casual hangouts, we will gain insights into the functionalities of software.';
---

<div id="about" class="py-14 md:py-26 px-md md:px-xl bg-lightest">
  <div class="flex flex-col md:flex-row items-stretch justify-between gap-6 md:gap-8 max-w-6xl mx-auto">
    {/* Left - Quote */}
    <div class="md:w-1/2 text-2xl md:text-3xl text-center font-bold text-secondary flex items-center justify-center px-lg pl-lg md:px-0 md:pl-0 ">
      {quote}
    </div>

    {/* Right - Description */}
    <div class="md:w-1/2 text-contrast text-center md:text-left space-y-4 px-lg pr-lg md:px-0 md:pr-lg">
      <p>{paragraph1}</p>
      <p>{paragraph2}</p>
      <p>{paragraph3}</p>
    </div>
  </div>
</div>