---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
    title: 'Cookie Policy',
    ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>

    <div class="dark:text-light p-custom">
        <div class="container-custom space-y-10 pt-24">
            <h1 class="text-4xl md:text-4xl font-extrabold text-center uppercase">{metadata.title}</h1>
            <p>Updated February, 26th 2019</p>
            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">What are cookies?</h2>
                <h3 class="text-xl md:text-2xl font-bold">What are cookies and why are they important for user experience?</h3>
                <p>This website uses cookies.</p>
                <p>Cookies are text files containing small amounts of information which are downloaded to your computer or mobile device when you visit a website. Cookies are then sent back to the originating website on each subsequent visit, or to another website that recognizes that cookie. Cookies are useful because they allow a website to recognize a user’s device. Cookies do lots of different and useful jobs, such as letting you navigate between pages efficiently, remembering your preferences. They help us understand how our website is used and improve your online experience.</p>
            </div>
            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">What type of cookies do we use?</h2>
                <h3 class="text-xl md:text-2xl font-bold">Which cookies are used by SoCraTes IT?</h3>
                <p>Most of the cookies we use are session cookies, which are automatically deleted from your hard disk at the end of the browser session. Session cookies are needed to help the website function.</p>
                <p>In addition to these we also use longer-term cookies that stay on your hard disk. On a subsequent visit it is then automatically recognized that you have previously visited us, and we know which input and settings you prefer. These cookies are stored on your hard disk and are automatically a pre-specified period.. They make our website more user-friendly, more effective and more secure.</p>

                <h3 class="text-xl md:text-2xl font-bold">What data is stored in the cookies?</h3>
                <p>Only pseudonymous data is stored in our cookies. On activation, the cookie is allocated an identification number; we do not allocate personal data to this identification number. Your name, your IP address and other such data that might allow the cookie to be traced to you directly are not stored in the cookie. We receive only aggregated information, relating for example to which of our pages have been visited, which products were viewed, etc.
                </p>

                <h3 class="text-xl md:text-2xl font-bold">Are there also cookies from third-party suppliers (so-called “third-party cookies”)?</h3>
                <p>SoCraTes IT makes use of a number of web partners, for example Google Analytics, who help to make our websites more interesting for you. This is why, when visiting our websites, the cookies of this company may also be stored on your hard disk. These cookies are deleted automatically after a pre-specified period. The cookies of our partner companies also contain solely pseudonymous or anonymous aggregated data.
                </p>

                <h3 class="text-xl md:text-2xl font-bold">How can you prevent the storage of cookies?
                </h3>
                <p>In your browser, you can enable a setting that storage of cookies is only permissible when you agree to it, and thereby prevent the further storage of cookies in the future. If you want to accept only SoCraTes IT cookies but not the cookies of our service companies and partners, you can select the browser setting ”Block third-party cookies”. As a rule, the ‘Help’ function in the menu bar of your web browser will show you how to reject new cookies and how to inactivate old ones.
                </p>
                <p>The following links provide information on how to modify the cookies settings on some popular browsers:</p>
                <ul class="list-disc space-y-2 block my-4 pl-4">
                    <li>
                        <a class="text-secondary" href="http://support.apple.com/kb/PH5042">Apple Safari</a>
                    </li>
                    <li>
                        <a class="text-secondary" href="https://support.google.com/chrome/bin/answer.py?hl=en&answer=95647&p=cpn_cookies">Google Chrome</a>
                    </li>
                    <li>
                        <a class="text-secondary" href="http://windows.microsoft.com/en-US/windows7/How-to-manage-cookies-in-Internet-Explorer-9">Microsoft Internet Explorer</a>
                    </li>
                    <li>
                        <a class="text-secondary" href="http://support.mozilla.org/en-US/kb/Cookies">Mozilla Firefox</a>
                    </li>
                </ul>
            </div>
            <h2 class="text-2xl md:text-4xl font-bold"></h2>
            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">Log Files</h2>
                <p>With each visit to the SoCraTes IT website, usage data is transmitted by the respective Internet browser and is stored in record files, the so-called server log files. The records stored in this way contain data on date and time of the call-up, name of the page called up, IP address, referrer URL (URL of origin, from which you came to the websites), the quantities of data transferred, product information and the version of the browser used. These log file data records are evaluated by us, to help us further improve our websites, as well as to make our pages more user-friendly, to detect and correct errors more quickly and to control server capacities. We also use log file data records to defend our site against attacks, e.g. in the context of DDOS attacks, which are intended to block access to our site by overloading it with enquiries.
                </p>
            </div>

            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">Web analysis</h2>
                <p>In order to continuously improve and optimize our offer, we make use of tracking technologies. For this purpose, we enlist the services of Google Analytics.</p>
                <h3 class="text-xl md:text-2xl font-bold">Google Analytics
                </h3>
                <p>This website makes use of Google (Universal) Analytics, a web analysis service from Google Inc. (<a class="text-secondary" href="https://www.google.com/">www.google.com</a>). Google (Universal) Analytics deploys methods that make it possible to analyse the use made of the website by you, e.g. the so-called “cookies”, which are text files that are stored on your computer. The information generated on your use of this website is transmitted, as a rule, to a Google server in the USA and stored there. By activating the IP-anonymise function on this website the IP address is shortened, within the member countries of the European Union or in other contracting states that were party to the agreement on the European Economic Area, before further transfer. Only in exceptional cases is the full IP address sent to a Google server in the USA and shortened there. The anonymised IP address transferred by your browser within the framework of Google Analytics is not brought together with other Google data.
                </p>
                <p>You can prevent the acquisition of the data generated by the cookie relating to your use of the website (incl. your IP address) by Google, as well as its processing by Google, if you download and install the browser plug-in available here. As an alternative to the browser plug-in, you can click this link in order to prevent recording by Google Analytics on this website in the future. In this case, an opt-out cookie will be placed in your terminal device. Please note that on deleting all cookies on your computer, this opt-out cookie will also be deleted, i.e. if you still want to prevent anonymised data acquisition by Google Analytics you will have to reset the opt-out cookie once again. The opt-out cookie is set for each browser and computer. If you visit our websites from home and from your place of work, or with different browsers, you will have to activate the opt-out cookie in the various browsers or on different computers.
                </p>
                <p>If you have questions about the use of cookies on our websites, please contact us at
                    <a class="text-secondary" href="mailto:socrates-it@googlegroups.com"
                    >socrates-it@googlegroups.com</a>
                    .
                </p>
            </div>

        </div>
    </div>

</Layout>
