---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
    title: 'Privacy Policy',
    ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>

    <div class="p-custom">
        <div class="container-custom space-y-10 pt-24">
            <h1 class="text-4xl md:text-4xl font-extrabold text-center uppercase">{metadata.title}</h1>
            <p>Updated February, 26th 2019</p>
            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">Scope</h2>
                <p>Andrea Vallotti, Anna Piera Frascella, Arialdo Martini, Gianni Bossini and Pierluigi Pugliese (“we”, “us”, “our”), organizers of “SoCraTes IT” 2024 (a “Conference”), are committed to protecting your personal information. We invite you to read this Privacy Policy, which explains the types of information collected and created in connection with the relevant Conference, how and why we use such information, who we share it with and your legal rights.</p>
                <p>Unless indicated otherwise, this Privacy Policy relates to our use of any personal information we collect or use in relation to the following services (collectively, the “Services”):
                </p>
                <ul class="list-disc space-y-2 block my-4 pl-4">
                    <li>
                   the Conference
                    </li>
                    <li>
                        the Conference websites and their related subdomains including those pertaining to registration for attendance at the Conference and to be a sponsor at the Conference
                    </li>
                    <li>
                        the Conference mailing tool
                    </li>
                    <li>
                        the Conference e-mail provided by Google
                    </li>
                    <li>
                        the Conference photos
                    </li>
                    <li>
                        online surveys relating to the Conference
                    </li>
                    <li>
                        messages sent via the Conference support e-mail
                    </li>
                    <li>
                        the Conference official social media channels
                    </li>
                </ul>

                <p>Personal information processed in connection with the Services is controlled by us, you can contact us by e-mail (<a class="text-secondary" href="mailto:socrates-it@googlegroups.com"
                >socrates-it@googlegroups.com</a>).
                </p>
            </div>
            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">Information we collect
                </h2>
                <p>When we provide the Services, we collect and receive information in several different ways. In many cases, you choose what information to provide, although some information is required for us to provide you the Services. Directly from you, or approved third parties.
                </p>
                <p>We collect a variety of information from you when you provide it to us directly, when we request it from you, or when you give us permission to get it from a third party source.
                </p>

                <ul class="list-disc space-y-2 block my-4 pl-4">
                    <li>
                        Attendee registration information. When you register to attend a Conference, you must provide us with basic information such as name, surname and email address. We also give you the option to provide additional information.
                    </li>
                    <li>
                        Conference survey responses. We may ask you to participate in optional surveys regarding your experience at the Conference in order to help us improve the event and for related commercial purposes.
                    </li>
                    <li>
                        We use Gmail by Google as our email provider. Your data may be transferred to Google for processing in accordance with their
                        <a class="text-secondary" href="https://policies.google.com/privacy?hl=en-US"
                        >Privacy Policy</a>
                        .
                    </li>
                    <li>
                        We use Bitly for link shortening. Your data may be transferred to Bitly for processing in accordance with their
                        <a class="text-secondary" href="https://bitly.com/pages/privacy"
                        >Privacy Policy</a>
                        .
                    </li>
                    <li>
                        We use Mailchimp (The Rocket Science Group, LLC) to manage email marketing subscriber lists and send emails to our subscribers. Read their
                        <a class="text-secondary" href="https://mailchimp.com/legal/privacy/"
                        >Privacy Policy</a>
                        .
                    </li>
                </ul>

                <p>About payment:
                </p>
                <p>
                    The Hotel AlpHoliday Dolomiti via Campiglio, 4 38025 Dimaro, Val di Sole, Trentino Alto Adige, Italia – VAT.ID 01896360227 -
                    <a class="text-secondary" href="https://www.alpholiday.it/"
                    >www.alpholiday.it</a>
                     , (the “Hotel”) directly owns your payment and credit card information. When purchasing tickets to attend a Conference, you must provide to the Hotel your name, address, telephone number, email address, credit card, debit card or bank information and other additional information. This information will not share with the Organizer.
                </p>

                <p>The Hotel perform tasks required to complete the purchase transaction.
                </p>

                <h3 class="text-xl md:text-2xl font-bold">From your browser or device
                </h3>

                <p>We automatically collect certain information from your browser or device when you use certain Services or read a message from us. For example, we collect data regarding the device you are using, such as its unique identifier and operating system; logs will be recorded by our servers based on the information sent from your app or browser; and information may be recorded by cookies and similar technologies when you use the Services. Please review our cookie policy for further detail on how we use cookies and similar technologies on our Services.</p>
            </div>

            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">How we use your information</h2>

                <p>We use your information in order to provide, operate, improve, understand, customize, support, and market our Services, including:
                </p>

                <ul class="list-disc space-y-lg block my-4 pl-4" >
                    <li class="space-y-xs">
                        <h3 class="text-xl md:text-2xl font-bold">Providing and improving the requested Services
                        </h3>
                        <p>We use your personal information as necessary to run the Conference, such as to register attendees, issue tickets, facilitate information sharing with partners with whom you have consented for us to share information, and provide you with relevant connections and content during the Conference based on this information.
                        </p>
                    </li>

                    <li class="space-y-xs">
                        <h3 class="text-xl md:text-2xl font-bold">Communicating with you
                        </h3>
                        <p>We use your personal information to contact you regarding your registration to attend or partnership at a Conference, to notify you of any changes to our policies and practices, and to respond to any requests or inquiries you may submit to us. If you subscribe to marketing, such as newsletters, we will use your information as described below.
                        </p>
                    </li>

                    <li class="space-y-xs">
                        <h3 class="text-xl md:text-2xl font-bold">Marketing
                        </h3>
                        <p>If you opt-in to receiving marketing communications from us, we will use your personal information for outreach and marketing, such as to send you information about our future Conferences and to exhibit attending companies. You can opt-out of these communications by using the unsubscribe links in our communications. We may also use your information in order to market the Conferences. For example, we sometimes use your image in our published social media post of Conference attendees. If you want to object to this use, please contact us here at <a class="text-secondary" href="mailto:socrates-it@googlegroups.com"
                        >socrates-it@googlegroups.com</a>.
                        </p>
                        <p>Please also review our cookie policy for your options to control how we use cookies and similar technologies for advertising.
                        </p>
                    </li>
                </ul>
            </div>

            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">Legal bases for processing your information
                </h2>
                <p>We rely on a number of bases to lawfully process your personal information for the purposes described in this Privacy Policy. We process your personal information:
                </p>

                <ul class="list-disc space-y-2 block my-4 pl-4">
                    <li>
                        when necessary to perform the Services
                    </li>
                    <li>
                        where you have consented to the processing, which you may revoke at any time
                    </li>
                    <li>
                        when necessary for us to comply with a legal obligation, a court order, or to exercise and defend legal claims
                    </li>
                    <li>
                        when necessary to protect your vital interests, or those of others, such as in the case of an emergency
                    </li>
                    <li>
                        where you have made the information manifestly public
                    </li>
                    <li>
                        where necessary in the public interest
                    </li>
                    <li>
                        where necessary for the purposes of our, your, or a third party’s legitimate interests, such as those of partners or other attendees or sponsors
                    </li>
                </ul>
            </div>

            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">Our legitimate interests
                </h2>
                <p>As indicated above, in certain cases we use your information where necessary to pursue our, your and others’ legitimate interests, including where necessary to:
                </p>

                <ul class="list-disc space-y-2 block my-4 pl-4">
                    <li>
                        Keep the Services safe and secure. We use your information as it is necessary to pursue our legitimate interests, or those of our attendees, our volunteers or our partners in ensuring the Conference is a safe and secure event, such as enforcing our Terms and Conditions. We also act in the legitimate interests of these parties with respect to our Conference website and other Services, such as by implementing and enhancing security measures and protections and protecting against fraud, spam and abuse.
                    </li>
                    <li>
                        Provide, develop and improve the Services. We process your information as necessary to pursue our legitimate interests in improving the Conference and our other Services, such as our Conference websites. For example, we use your information in order to conduct access control and enforce security at the Conferences. We also use your information to conduct data analysis and analytics across our Services.
                    </li>
                    <li>
                        Market the Services. We process your information in accordance with our legitimate interests of marketing the Conference and the Services to you. For example, we use your information to market future Conferences to you and to exhibit attending companies. We may also use your image in our marketing materials in order to highlight the attendees participating in the Conferences. We also use photos and audiovisual footage from past Conferences which may contain your image or voice. If you want to exercise your right to object to any of these uses please email us at <a class="text-secondary" href="mailto:socrates-it@googlegroups.com"
                    >socrates-it@googlegroups.com</a>.
                    </li>
                </ul>
            </div>

            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">Sharing with third parties</h2>
                <p>We share information with attendees, service providers and other third parties where it is necessary to perform the Terms and Conditions, to provide the Services, and for other purposes described in the Privacy Policy.</p>

                <h3 class="text-xl md:text-2xl font-bold">Marketing</h3>
                <p>In order to further our legitimate interests in marketing the Services, we rely on third-party marketing platforms and service providers to assist us and perform certain marketing services for us.</p>

                <h3 class="text-xl md:text-2xl font-bold">Third party service providers
                </h3>
                <p>We may share your personal information to help us operate, provide, improve, understand, customize, support, and market our Services. These third parties provide us with services including for customer support, data storage and website hosting, ticketing and payments processing, legal advice and compliance, and marketing and data analysis. These third parties are contractually required to use it only to provide their service to us, and prohibited from using it for their own purposes.
                </p>
            </div>

            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">Legal and safety reasons
                </h2>
                <p>We may retain, preserve, or share your personal information if we have a good-faith belief that it is reasonably necessary to:
                </p>

                <ul class="list-disc space-y-2 block my-4 pl-4">
                    <li>
                        respond, based on applicable law, to a legal request (such as, a subpoena, search warrant, court order, or other request from government or law enforcement)
                    </li>
                    <li>
                        detect, investigate, prevent, and address fraud and other illegal activity, security, or technical issues;
                    </li>
                    <li>
                        protect our rights, property, or safety
                    </li>
                    <li>
                        enforce our Conditions or any other agreements we have with you
                    </li>
                    <li>
                        prevent physical injury or other harm to any person or entity, including yourself and members of the general public
                    </li>
                </ul>

                <h3 class="text-xl md:text-2xl font-bold">
                    Aggregated information
                </h3>
                <p>We may also share aggregated or de-identified information, such as counts of attendee, with companies we do business with, including our sponsors, partners as well as other organizational members.
                </p>
            </div>

            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">Data retention
                </h2>
                <p>We will retain your personal information for as long as is necessary, up to a period of two years after such information is collected, to achieve the purposes set out in this Privacy Policy, such as to provide you with the Services. We may also need to retain some of your information for a longer period to comply with our legal and regulatory obligations, to resolve disputes, and to enforce our Terms of Service.
                </p>
            </div>

            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">Your rights
                </h2>
                <p>You have a number of rights in relation to your information that we process. While some of these rights apply generally, certain rights apply only in certain limited cases. We describe these rights below.
                </p>

                <h3 class="text-xl md:text-2xl font-bold">
                    Rectify, Restrict, Delete
                </h3>
                <p>You can amend, update and delete some of your information by contact us at <a class="text-secondary" href="mailto:socrates-it@googlegroups.com"
                >socrates-it@googlegroups.com</a>.
                </p>

                <h3 class="text-xl md:text-2xl font-bold">
                    Object
                </h3>
                <p>
                    Where we process your information based on the legitimate interests described above, or in the public interest, you can object to the processing in certain circumstances. We will generally stop processing your information unless we have compelling grounds to continue processing, such as where needed for legal reasons. Where we use your information for direct marketing, you can always object using the unsubscribe link in such communications by contacting us.
                </p>

                <h3 class="text-xl md:text-2xl font-bold">
                    Revoke consent
                </h3>
                <p>
                    If we have specifically asked for your consent to use your information, you have the right to withdraw your consent at any time. For example, if we ask for your consent for direct marketing purposes, you can revoke your consent using the unsubscribe link in such communications or by contacting us.
                </p>

                <h3 class="text-xl md:text-2xl font-bold">
                    Complain
                </h3>
                <p>
                    If you wish to raise a concern about our use of your information (and without prejudice to any other rights you may have), you have the right to do so with your local supervisory authority.
                </p>
            </div>

            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">Security</h2>
                <p>The security of your personal information is important to us. We strive to use appropriate technical and organizational to protect your personal information. Despite these measures, the Internet is not a fully secure environment and we cannot guarantee that your personal information won’t be intercepted or improperly accessed.
                </p>
            </div>

            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">Children</h2>
                <p>Attendees under 18 years of age may attend the Conference if accompanied by an adult or guardian, depending on the age of the attendee.
                </p>
            </div>

            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">Changes to this Privacy Policy</h2>
                <p>We may update this Privacy Policy from time to time so please review it occasionally. If we make material changes, we will take steps to notify you. The date of the most recent revisions will appear on the top of this page.
                </p>
            </div>

            <div class="space-y-6">
                <h2 class="text-2xl md:text-4xl font-bold">Contact us</h2>
                <p>If you have any questions or concerns about this Privacy Policy or our privacy practices generally, or if you would like to exercise your statutory rights, you can contact us at: <a class="text-secondary" href="mailto:socrates-it@googlegroups.com"
                >socrates-it@googlegroups.com</a>.
                </p>
            </div>
        </div>
    </div>

</Layout>
