---
import Layout from '~/layouts/PageLayout.astro';
import MailchimpOriginalForm from "../components/widgets/MailchimpOriginalForm.astro";
import {eventState} from "../common/constants";
import {EventState} from "../common/types";

const metadata = {
    title: 'Registration',
    ignoreTitleTemplate: true,
};

if (eventState !== EventState.REGISTRATION_OPEN) {
    return new Response('Not Found', { status: 404 });
}
---

<Layout metadata={metadata}>

    <div class="px-md md:px-xl bg-lightest">
        <div class="max-w-6xl mx-auto space-y-10 pt-30 md:pt-35 pb-14 md:py-20">
            <h1 class="text-4xl md:text-4xl font-extrabold text-center uppercase">{metadata.title}</h1>

            <MailchimpOriginalForm />
        </div>
    </div>

</Layout>
