---
import type { MenuItem } from "./menu-items"
import MenuLink from "./MenuLink"
import { cn } from "../../common/css"

interface Props {
    items: MenuItem[]
}

const { items } = Astro.props
---

<ul
    class={cn(
        "flex flex-wrap items-center justify-end",
        "md:gap-x-6",
        "lg:gap-x-8",
    )}
>
    {
        items.map((x) => (
            <li class="text-sm text-highlight dark:text-light-contrast font-bold hover:text-light transition duration-300">
                <MenuLink client:load item={x} />
            </li>
        ))
    }
</ul>
