---
import type { MenuItem } from "./menu-items"
import MenuLink from "./MenuLink"
import { cn } from "../../common/css"

interface Props {
    items: MenuItem[]
}

const { items } = Astro.props
---

<ul
    class={cn(
        "flex flex-wrap items-center justify-end mr-sm",
        "md:gap-x-4",
        "lg:gap-x-8",
    )}
>
    {
        items.map((x) => (
            <li class="text-sm p-6">
                <MenuLink client:load item={x} />
            </li>
        ))
    }
</ul>
