---
import { Icon } from "astro-icon/components"
import { menuItems } from "./menu-items"
import MobileMenu from "./MobileMenu";
import DesktopMenu from "./DesktopMenu.astro";
---

<nav class="flex items-center justify-between bg-green-500">
    <a href="/public" aria-label="Go to homepage">
        <Icon name="astro" class="h-[50px] w-[200px] bg-amber-600" />
    </a>

    <div class="md:hidden">
        <MobileMenu items={menuItems} client:media="(max-width:767px)" />
    </div>
    <div class="hidden md:block">
        <DesktopMenu items={menuItems} />
    </div>
</nav>
