---
import {BASE_PATH, menuItems} from "./menu-items"
import MobileMenu from "./MobileMenu";
import DesktopMenu from "./DesktopMenu.astro";
import ThemeIcon from "./ThemeIcon.astro";

---

<nav class="flex items-center justify-between container-custom">
    <a href={`${BASE_PATH}`} aria-label="Go to homepage">
        <div>Logo</div>
    </a>
    <div class="flex items-center justify-between">
        <ThemeIcon/>
        <div class="md:hidden">
            <MobileMenu items={menuItems} client:media="(max-width:767px)"/>
        </div>
        <div class="hidden md:block">
            <DesktopMenu items={menuItems}/>
        </div>
    </div>
</nav>
