---
import '~/styles/global.css';
import '@fontsource-variable/manrope';
import { defaultMetadata, defaultTitle, prependBasePath } from '../common/constants'

import type { MetaData } from '~/types';

export interface Props {
	metadata?: MetaData;
}

const { metadata: {title, ignoreTitleTemplate} = defaultMetadata } = Astro.props;
const pageTitle = ignoreTitleTemplate ? title : `${defaultTitle} - ${title}`

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href={prependBasePath(`/favicon/favicon-96x96.png`)} sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href={prependBasePath(`/favicon/favicon.svg`)} />
		<link rel="shortcut icon" href={prependBasePath(`/favicon/favicon.ico`)} />
		<link rel="apple-touch-icon" sizes="180x180" href={prependBasePath(`/favicon/apple-touch-icon.png`)} />
		<link rel="manifest" href={prependBasePath(`/favicon/site.webmanifest`)} />

		<meta name="generator" content={Astro.generator} />

		<title>{pageTitle}</title>
	</head>
	<body class="antialiased text-default bg-white transition-colors duration-500 tracking-tight">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Manrope Variable";
	}
</style>
