---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
    metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
    <slot name="header">
        <Header {...headerData} isSticky showRssFeed showToggleTheme client:visible/>
        <main>
            <slot />
        </main>
        <slot name="footer">
            <Footer {...footerData} links={[{
                'title': 'CIAONE',
                'links': []
            }]} secondaryLinks={[{
                'text': 'ciaone',
                'href': 'gran ciaone'
            }]} socialLinks={[{
                'text': 'ciaone',
                'href': 'gran ciaone'
            }]} />
        </slot>
    </slot>

</Layout>