
---
import type { ItemGrid as Props } from '~/types';
import Button from './Button.astro';
import { Icon } from 'astro-icon/components';

const { items = [], columns, defaultIcon = '', classes = {} } = Astro.props;

const {
    container: containerClass = '',
    panel: panelClass = '',
    title: titleClass = '',
    description: descriptionClass = '',
    icon: defaultIconClass = 'text-primary',
    action: actionClass = '',
} = classes;
---

{
    items && (
    <div class='grid mx-auto gap-8 md:gap-y-12' >
        {items.map(({ title, description, icon, callToAction, classes: itemClasses = {} }) => (
                <div class="intersect-once">
                    <!--class="intersect-once motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"-->
                    <div class='flex flex-row max-w-md' >
                        <div class="flex justify-center">
                            {(icon || defaultIcon) && (
                                    <Icon
                                            name={icon || defaultIcon}
                                            class='w-7 h-7 mr-2 rtl:mr-0 rtl:ml-2'
                                    />
                            )}
                        </div>
                        <div class="mt-0.5">
                            {title && <h3 class='text-xl font-bold' >{title}</h3>}
                            {description && (
                                    <p
                                            class=`${title ? 'mt-3' : ''} text-muted`
                                            set:html={description}
                                    />
                            )}
                            {callToAction && (
                                    <div class=`${title || description ? 'mt-3' : ''}`>
                                        <Button variant="link" {...callToAction} />
                                    </div>
                            )}
                        </div>
                    </div>
                </div>
        ))}
    </div>
        )
    }
